/*Standard CSS*/
body {
  background: #000;
  font-family: Arial, sans-serif;
}

.content{
  color: #bbb;
  padding: 10px;
  border-radius: 4px;
  background: #111;
  box-sizing: border-box;
}

code {
  border-radius: 4px;
  padding: 0px 4px;
}

pre code {
  display: block;
  padding: 10px;
  margin: 2px;
  overflow-x: auto;
}

pre {
  border-radius: 4px;
}
